# Aim of the Notebook
The dataset thats being used in this notebook has been downloaded from [kaggle.com](https://www.kaggle.com/datasets/benroshan/factors-affecting-campus-placement) Its a dataset that has Placement data of students in a XYZ campus. It includes secondary and higher secondary school percentage and specialization. It also includes degree specialization, type and Work experience and salary offers to the placed students

## Goals

There are couple of aims of this notebook first: since this is actually a homework asignment it will demonstrate basic understanding of data manipulation, data summarization and plotting using pandas matlab and plotting libraries. Secondly since my work includes training classification and regression models I will be showcasing how couple of different ML models can be deployed to make certain predictions.

In [2]:
import pandas as pd 

df = pd.read_csv('Placement_Data_Full_Class.csv')

df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0